connect('{{ weblogic_admin_user }}','{{ weblogic_admin_password }}', '{{ weblogic_admin_url }}')

edit()
startEdit()

cd('/')
nmEnroll('{{ domain_account.home }}')

save()
activate()

disconnect()
exit()